---
import { FadeInSection } from '~/components/animations/fade-in';
import { cn } from '~/lib/utils';

interface Props {
  class?: string;
  id?: string;
  skipFadeIn?: boolean;
  innerWrapperClassName?: string;
}

const {
  class: className,
  id,
  skipFadeIn = false,
  innerWrapperClassName,
} = Astro.props;
---

<section
  id={id}
  data-watched={id ? 'true' : undefined}
  class={cn('py-10 md:py-24', className)}
>
  {
    skipFadeIn ? (
      <div class={cn('container', innerWrapperClassName)}>
        <slot />
      </div>
    ) : (
      <FadeInSection client:visible>
        <div class={cn('container', innerWrapperClassName)}>
          <slot />
        </div>
      </FadeInSection>
    )
  }
</section>
