---
import Section from '~/components/astro/Section.astro';
import SectionTitle from '~/components/astro/SectionTitle.astro';
import Reveal from '~/components/astro/Reveal.astro';
import { Icon, Icons } from '~/components/icons';
import {
  Card,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from '~/components/ui/card';

import { createScopedTranslator, normalizeLocale } from '~/locales';

const locale = normalizeLocale(Astro.currentLocale);
const t = createScopedTranslator(locale, 'section_skills');

const skills = [
  {
    title: 'Backend',
    Icon: Icons.server,
    details: t('backend_desc'),
    mainSkills: ['Node.js', 'PHP', 'Spring Boot'],
  },
  {
    title: 'Frontend',
    Icon: Icons.layout,
    details: t('frontend_desc'),
    mainSkills: ['Next.js', 'Nuxt', 'Angular'],
  },
  {
    title: 'Mobile',
    Icon: Icons.smartphone,
    details: t('mobile_desc'),
    mainSkills: ['Flutter', 'React Native'],
  },
  {
    title: 'No Code',
    Icon: Icons.code,
    details: t('node_code_desc'),
    mainSkills: ['Webflow', 'Wordpress'],
  },
] as const;
---

<Section id="skills">
  <SectionTitle class="flex items-center gap-x-2">
    <Icon name="skill" className="size-8" />
    {t('title')}
  </SectionTitle>

  <ul class="grid gap-4 md:grid-cols-2 xl:grid-cols-4">
    {
      skills.map((skill, index) => (
        <Reveal
          as="li"
          type="slide-up"
          distance={100}
          delay={index * 100}
          class="col-span-4 md:col-span-1"
        >
          <Card className="group flex h-full cursor-pointer flex-col shadow-lg transition delay-0 duration-300 ease-in hover:scale-[1.01] hover:border-primary hover:bg-accent">
            <CardHeader className="flex-grow">
              <CardTitle className="flex items-center gap-x-2 text-primary">
                <skill.Icon className="size-5" />
                {skill.title}
              </CardTitle>
              <CardDescription className="mt-2">{skill.details}</CardDescription>
            </CardHeader>

            <CardFooter>
              <ul class="flex w-full items-center gap-1.5 overflow-hidden">
                {skill.mainSkills.map((s) => (
                  <li class="shrink-0 rounded-md border bg-background px-2.5 py-1 text-xs text-muted-foreground transition-colors duration-150 ease-in group-hover:border-primary group-hover:bg-primary group-hover:text-white">
                    {s}
                  </li>
                ))}
              </ul>
            </CardFooter>
          </Card>
        </Reveal>
      ))
    }
  </ul>
</Section>
