---
import Section from '~/components/astro/Section.astro';
import SectionTitle from '~/components/astro/SectionTitle.astro';
import { ScaleWhenView } from '~/components/animations/scale-when-view';
import { SlideDivIntoView } from '~/components/animations/slide-div-into-view';
import { Icon } from '~/components/icons';

import { createScopedTranslator, normalizeLocale } from '~/locales';

const locale = normalizeLocale(Astro.currentLocale);
const t = createScopedTranslator(locale, 'section_scholarship');
---

<Section
  id="scholarship"
  class="bg-gradient-to-b from-blue-500/25 via-transparent to-transparent"
>
  <SectionTitle class="flex items-center gap-x-2">
    <Icon name="graduation" className="size-8" />
    {t('title')}
  </SectionTitle>

  <div class="grid lg:grid-cols-2">
    <ScaleWhenView client:visible className="flex items-center justify-center">
      <img
        width={500}
        height={500}
        alt="Mascotte"
        src="/assets/images/education-man.svg"
        class="transition-transform duration-100 ease-in hover:scale-[1.02]"
      />
    </ScaleWhenView>

    <div class="relative">
      <div
        class="absolute left-1/2 h-full -translate-x-1/2 transform border-l-2 border-gray-300"
      >
      </div>
      <div class="space-y-8">
        <div class="flex w-full items-center">
          <SlideDivIntoView
            client:visible
            className="w-1/2 pr-8 text-right"
            offset={-100}
          >
            <h2 class="text-lg font-semibold">{t('bts.title')}</h2>
            <p class="text-primary">{t('bts.specialty')}</p>
            <p class="text-sm text-muted-foreground">2018 - 2020</p>
          </SlideDivIntoView>

          <div
            class="relative flex h-10 w-10 items-center justify-center rounded-full bg-gradient-to-b from-primary via-primary to-[#9c60d7]"
          >
            <Icon name="check" className="text-white" />
          </div>

          <SlideDivIntoView
            client:visible
            className="w-1/2 pl-8"
            offset={100}
          >
            <p class="text-muted-foreground">{t('bts.academy')}</p>
            <p class="text-sm text-muted-foreground">{t('bts.location')}</p>
          </SlideDivIntoView>
        </div>

        <div class="flex w-full items-center">
          <SlideDivIntoView
            client:visible
            delay={0.05}
            offset={-100}
            className="w-1/2 pr-8 text-right"
          >
            <h2 class="text-lg font-semibold">{t('bac.title')}</h2>
            <p class="text-primary">{t('bac.specialty')}</p>
            <p class="text-sm text-muted-foreground">2017 - 2018</p>
          </SlideDivIntoView>

          <div
            class="relative flex h-10 w-10 items-center justify-center rounded-full bg-primary bg-gradient-to-b from-primary via-primary to-[#9c60d7]"
          >
            <Icon name="check" className="text-white" />
          </div>

          <SlideDivIntoView
            client:visible
            className="w-1/2 pl-8"
            offset={100}
            delay={0.05}
          >
            <p class="text-muted-foreground">{t('bac.location1')}</p>
            <p class="text-sm text-muted-foreground">{t('bac.location2')}</p>
          </SlideDivIntoView>
        </div>

        <div class="flex w-full items-center">
          <SlideDivIntoView
            client:visible
            delay={0.08}
            offset={-100}
            className="w-1/2 pr-8 text-right"
          >
            <h2 class="text-lg font-semibold">{t('probatoire.title')}</h2>
            <p class="text-primary">{t('bac.specialty')}</p>
            <p class="text-sm text-muted-foreground">2016 - 2017</p>
          </SlideDivIntoView>

          <div
            class="relative flex h-10 w-10 items-center justify-center rounded-full bg-primary bg-gradient-to-b from-primary via-primary to-[#9c60d7]"
          >
            <Icon name="check" className="text-white" />
          </div>

          <SlideDivIntoView
            client:visible
            className="w-1/2 pl-8"
            offset={100}
            delay={0.08}
          >
            <p class="text-muted-foreground">{t('bac.location1')}</p>
            <p class="text-sm text-muted-foreground">{t('bac.location2')}</p>
          </SlideDivIntoView>
        </div>
      </div>
    </div>
  </div>
</Section>
